h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bangers', cursive;
    letter-spacing: 2px;
    color: rgb(200, 11, 11);
}

h1 {
    text-align: center;
    margin-top: 4rem;
    font-size: 3.5rem;
}

p {
    font-family: 'Zilla Slab', serif;
    font-size: 1.5rem;
}
main{
    width: 791px;
    margin: auto;
}

body {

    background-image: url("https://pm1.narvii.com/6062/bb70ce55871a9855a91fae8207cc1abb17c9471b_hq.jpg")
}

.topnav {
    overflow: hidden;
    background-color: #333;
    font-family: 'Bangers', cursive;
    margin-left: -50px;
    margin-right:-50px;
    letter-spacing: 2px;

}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}




ul {
    text-align: left;
}

.ciao {
    width: 791px;
    margin: auto;

    background-color: rgb(253, 253, 255);
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.vola {
    width: 82%;
    border: 2px solid black;
    padding: 69px;
    text-align: left;
    background-color: rgb(253, 253, 255)
}

img {
    width: 100%;
    height: auto;
    align: center
}

thead {
    font-weight: bold;
    font-family: 'Bangers', cursive;
    letter-spacing: 2px;
    color: rgb(200, 11, 11);
}

.button {
    font-family: 'Bangers', cursive;
    letter-spacing: 2px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 50px auto;
    cursor: pointer;
}

.button1 {
    background-color: #04AA6D;
}

.text-center {
    text-align: center;

}

/* Green */
